* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(97, 179, 97);
  }
  .container {
    width: 90%;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  #new-task {
    position: relative;
    background-color:rgb(97, 179, 97);
    padding: 1.8em 1.25em;
    border-radius: 0.3em;
    
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
  }
  #new-task input {
    font-family: "Poppins", sans-serif;
    font-size: 50em;
    border: none;
    border-bottom: rgb(97, 179, 97);
    padding: 0.8em 0.5em;
    color: #111111;
    font-weight: 500;
  }
  #new-task input:focus {
    outline: none;
    border-color: #0b87ff;
  }
  #new-task button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50em;
    background-color:rgb(97, 179, 97);
    color: rgb(97, 179, 97);
    outline: none;
    border: none;
   
  }
  #tasks {
    background-color:rgb(97, 179, 97);
    position: relative;
    padding: 1.8em 1.25em;
    margin-top: 3.8em;
    width: 100%;
    
    border-radius: 0.6em;
  }
  .task {
    background-color: #ffffff;
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
  }
  .task span {
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
  }
  .task button {
    color: #ffffff;
    padding: 0.8em 0;
    width: 2.8em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .delete {
    background-color: #fb3b3b;
  }
  .edit {
    background-color: #0b87ff;
    margin-left: auto;
    margin-right: 3em;
  }
  .completed {
    text-decoration: line-through;
  }
  .container-button {
    background-color: #000000;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15%;
    position: absolute;
    bottom: 10%;
    right: 10%;
  }